{% extends 'main/home.html' %}
{% set page = page|default('starred') -%}

{% block page_title %}
Starred Events | {{ super() }}
{% endblock %}

{% block content_main %}
<h2 class="section-title">Starred Events</h2>

<div id="events">
{% if events %}
    {% include 'starred/events.html' %}
{% else %}
    <p >You have no starred events. Yet.</p>
{% endif %}
</div>
<div style="display:none">
    <p class="no-stars">You have no starred events. Yet.</p>
    <p class="load-stars">Please wait. Loading your starred events...</p>
</div>
{% endblock %}

{% block site_js %}
{{ super() }}
<script src="{{ static('starred/js/starredevents.js') }}"></script>
{% endblock %}
